/* Variables and mixins declared here will be available in all other SCSS files */

$text-color: #4E3E44;
$text-hint-color: #A08C94;
$text-accent-color: #C13B6D;

$error-color: #ffb7b9;

$destructive-color: #C13B6D;

$bg-color: #FBEFF3;
$bg-darker-color: #FFECEC;

$border-color:#B0B0B0;

$animation-speed: 0.1s;